<app-layout></app-layout>
<section class="rtl partners">
    <div class="container-fluid">
      <div class="top-section">
        <h3> شركائنا و عملائنا </h3>
        <img src="../../../assets/images/line.svg" />
      </div>
      <div class="row">
        <div class="partners-btn col-sm-6">
          <a href="/partners" class="btn">شركائنا</a>
        </div>
        <div class="clients-btn col-sm-6">
          <a href="/clients" class="btn custom-btn">عملائنا</a>
        </div>
      </div>
      <div class="bottom-partn">
        <div class="row">
          <div class="single-sec col-md-3 col-sm-6">
            <img src="../../../assets/images/logo1.svg" alt="">
          </div>
          <div class="single-sec col-md-3 col-sm-6">
            <img src="../../../assets/images/logo2.svg" alt="">
          </div>
          <div class="single-sec col-md-3 col-sm-6">
            <img src="../../../assets/images/logo3.svg" alt="">
          </div>
          <div class="single-sec col-md-3 col-sm-6">
            <img src="../../../assets/images/logo4.svg" alt="">
          </div>
          <div class="single-sec col-md-3 col-sm-6">
            <img src="../../../assets/images/logo5.svg" alt="">
          </div>
          <div class="single-sec col-md-3 col-sm-6">
            <img src="../../../assets/images/logo6.svg" alt="">
          </div>
          <div class="single-sec col-md-3 col-sm-6">
            <img src="../../../assets/images/logo7.svg" alt="">
          </div>
          <div class="single-sec col-md-3 col-sm-6">
            <img src="../../../assets/images/logo8.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>