.forget-password
{
    padding-top:14%;
    text-align: center;
    padding-bottom:10%;
}
img
{
    display: block;
    margin:auto;
    margin-bottom:3%;
}
strong,
span
{
    display: block;
}
strong
{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2a2a2a;
    padding-bottom:2%;
}
span
{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #2a2a2a;
    padding-bottom:4%;
}
input
{
    border: none;
    border-bottom: 1px solid #002e7f;
    border-radius: 0px;
    padding-right: 0px;
    background-color: transparent;
    margin-bottom:3%;
}
form
{
    width:50%;
    display: block;
    margin:auto;
}
.bottom-par
{  
    position: absolute;
    top:100%;
    right:0%;
}
p
{

    text-align: center
}
@media (min-width:992px)  and (max-width:1200px)
{
    .forget-password
    {
        padding-top:18%;
    }
    form
    {
        width:60%;
    }
}
@media (min-width:768px)  and (max-width:991px)
{
    .forget-password
    {
        padding-top:28%;
    }
    form
    {
        width:70%;
    }
}
@media (max-width:768px)
{
    .forget-password
    {
        padding-top:38%;
    }
    form
    {
        width:90%;
    }
}
app-layout
{
    display: none;
}