<app-layout></app-layout>
<div class="rtl forget-password">
    <div class="container-fluid">
        <form>
            <a href=""><img src="../../../assets/images/logo.png"/></a>
            <strong> نسيت كلمة المرور؟ </strong>
            <span>برجاء كتابة الايميل الخاص بك سيلسل سيالشسايل تلستيل</span>
            <input type="text" placeholder="البريد الإلكتروني" class="form-control">
            <button type="button" class="col-sm-12 btn custom-btn"> إرسال </button>
        </form>
        <div class="col-sm-12 bottom-par">
          <p>© 2019 View Plus  جميع الحقوق محفوظة</p>
        </div>
    </div>
</div>