<app-layout></app-layout>
<h4 class="title">من نحن</h4>
<img src="../../../assets/images/line.svg" alt="" class="line">
<div class="container-fluid">
      <div class="rtl single-sec">
            <div class="row">
                  <div class="right-sec col-lg-6 col-sm-12">
                        <h3>هو أسر لإعادة الأهداف من<br /> وصغار يتسنّى</h3>
                        <img src="../../../assets/images/line.svg" alt="">
                        <p>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة في مدن. إيو إذ العسكري وبولندا التّحول حول,
                              تحت وصغار الأول عل. هو
                              وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك
                              قد عدم المؤلّفة الشّعبين. هو بالرغم الساحل وقد, ان منتصف من الى وإيطالي الجنرال, بعد بل
                              غينيا الدّفاع. بسبب
                              تلك لإعادة اسبوعين وباستثناء ثم. مكن كُلفة الأسيوي الأمريكي </p>
                  </div>
                  <div class="left-sec col-lg-6 col-sm-12">
                        <img src="../../../assets/images/vision.svg" alt="">
                  </div>
            </div>
      </div>
      <div class="rtl single-sec">
            <div class="row">
                  <div class="left-sec col-lg-6 col-sm-12">
                        <img src="../../../assets/images/mission.svg" alt="">
                  </div>
                  <div class="right-sec col-lg-6 col-sm-12">
                        <h3>هو أسر لإعادة الأهداف من <br />وصغار يتسنّى</h3>
                        <img src="../../../assets/images/line.svg" alt="">
                        <p>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة في مدن. إيو إذ العسكري وبولندا التّحول حول,
                              تحت وصغار الأول عل. هو
                              وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك
                              قد عدم المؤلّفة الشّعبين. هو بالرغم الساحل وقد, ان منتصف من الى وإيطالي الجنرال, بعد بل
                              غينيا الدّفاع. بسبب
                              تلك لإعادة اسبوعين وباستثناء ثم. مكن كُلفة الأسيوي الأمريكي </p>
                  </div>
            </div>
      </div>
</div>
<div class="bottom-data">
      <div class="container-fluid">
            <h4 class="title">هو أسر لإعادة الأهداف, من وصغار يتسنّى</h4>
            <img src="../../../assets/images/line.svg" alt="" class="line">
            <div class="rtl bottom-images">
                  <div class="row">
                        <div class="single-image col-lg-3 col-md-4 col-sm-6">
                              <div class="image-section">
                                    <img src="../../../assets/images/team-bg.svg" class="team-background" />
                                    <img src="../../../assets/images/man4.png" class="man-team">
                              </div>
                              <strong>omnia atef</strong>
                              <p>front end developer</p>
                        </div>
                        <div class="single-image col-lg-3 col-md-4 col-sm-6">
                              <div class="image-section">
                                    <img src="../../../assets/images/team-bg.svg" class="team-background" />
                                    <img src="../../../assets/images/man1.png" class="man-team"> </div>
                              <strong>omnia atef</strong>
                              <p>front end developer</p>
                        </div>
                        <div class="single-image col-lg-3 col-md-4 col-sm-6">
                              <div class="image-section">
                                    <img src="../../../assets/images/team-bg.svg" class="team-background" />
                                    <img src="../../../assets/images/man3.png" class="man-team"> </div>
                              <strong>omnia atef</strong>
                              <p>front end developer</p>
                        </div>
                        <div class="single-image col-lg-3 col-md-4 col-sm-6">
                              <div class="image-section">
                                    <img src="../../../assets/images/team-bg.svg" class="team-background" />
                                    <img src="../../../assets/images/man1.png" class="man-team"> </div>
                              <strong>omnia atef</strong>
                              <p>front end developer</p>
                        </div>
                        <div class="single-image  col-lg-3 col-md-4 col-sm-6">
                              <div class="image-section">
                                    <img src="../../../assets/images/team-bg.svg" class="team-background" />
                                    <img src="../../../assets/images/man4.png" class="man-team"> </div>
                              <strong>omnia atef</strong>
                              <p>front end developer</p>
                        </div>
                        <div class="single-image  col-lg-3 col-md-4 col-sm-6">
                              <div class="image-section">
                                    <img src="../../../assets/images/team-bg.svg" class="team-background" />
                                    <img src="../../../assets/images/man3.png" class="man-team"> </div>
                              <strong>omnia atef</strong>
                              <p>front end developer</p>
                        </div>

                  </div>
            </div>
      </div>
</div>
<app-footer></app-footer>