<!-- start footer -->
<footer class="col-sm-12 rtl">
  <div class="container-fluid">
    <div class="footer-top">
            <a href="#"><img src="../assets/images/logo.svg" alt=""></a>
          <div class="col-sm-12 second-sec">
            <div class="row">
                <div  class="col-sm">
                    <a href="#">الرئيسية</a>
                </div>
                <div  class="col-sm">
                    <a href="/aboutus">عن ViewPlus</a>
                </div>
                <div  class="col-sm">
                    <a href="contact">تواصل معنا</a>
                </div>
                <div  class="col-sm">
                    <a href="">الشروط والأحكام</a>
                </div>
                <div  class="col-sm">
                    <a href="">سياسة الخصوصية</a>
                </div>
            </div>
          </div>
          <div class="col-sm-12 forth-sec">
              <div class="row">
                <div class="col">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="col">
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
                <div class="col">
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col">
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
                <div class="col">
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
              </div>
          </div>
    </div> 
  </div>
</footer>
<div class="footer-bottom">
  © 2019 <a href="#">View Plus</a>  جميع الحقوق محفوظة
</div>
<!-- end footer -->