<app-layout></app-layout>
<div class="rtl img-container">
  <div class="top-bg">
    <h3>معرض الصور</h3>
    <img src="../../../assets/images/line.svg" alt="">
  </div>
  <div class="container-fluid">
        <div class="row">
            <div class="right-select col-6">
                <select class="col-lg-4 col-md-6 col-sm-12 form-control">
                  <option>test1</option>
                  <option>test1</option>
                </select>
            </div>
            <div class="left-select col-6">
                  <select class="col-lg-4 col-md-6 col-sm-12 form-control">
                      <option>test1</option>
                      <option>test1</option>
                    </select>
            </div>
  </div>
</div>
        <div class="container-fluid">
            <div class="gallery">
                <div class="row">
                <!-- need a div for contains img tag -->
                <div class="galleryItem card col-lg-3 col-md-4 col-sm-6">
                    <img src="../../../assets/images/logo2.svg">
                  </div>
                <div class="galleryItem card col-lg-3 col-md-4 col-sm-6">
                    <img src="../../../assets/images/gallery.jpg">
                  </div>
                <div class="galleryItem card col-lg-3 col-md-4 col-sm-6">
                    <img src="../../../assets/images/gallery.jpg">
                  </div>
                <div class="galleryItem card col-lg-3 col-md-4 col-sm-6">
                    <img src="../../../assets/images/gallery.jpg">
                  </div>
              </div>
              
        </div>
      </div>
</div>
<app-footer></app-footer>