<div class="container-fluid blue-container">
  <!-- start navbar -->
  <img src="../assets/images/blue-right.svg" class="blue-right"/>
  <img src="../assets/images/blue-right.svg" class="blue-left"/>
  <nav class="rtl navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="logo-image" class="logo-image">
      <img src="assets/images/logo-white.svg" alt="logo-white" class="logo-white">
    </a>
    <a href="/login" class="d-sm-inline-block d-md-inline-block d-lg-none custom-btn btn small-login-btn">تسجيل الدخول</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="col-sm-12 navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/projects" routerLinkActive="active">أعمالنا <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services" routerLinkActive="active">خدماتنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing" routerLinkActive="active">الأسعار</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery" routerLinkActive="active">معرض الصور</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/partners" routerLinkActive="active">شركائنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus" routerLinkActive="active">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" routerLinkActive="active">تواصل</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/advertise" routerLinkActive="active">اعلن معنا</a>
        </li>
        <li class="nav-item">
            <!-- <img src="../../../assets/images/dark-mode.svg" class="dark-mood-image" id="darkbutton"/> -->
            <i class="dark-mood-image fa fa-moon-o" aria-hidden="true"  id="darkbutton"></i>
            <!-- <img src="../../../assets/images/light-mode.svg" class="light-mood-image" id="lightbutton"/> -->
        </li>
        <a href="/login" class="large-login-btn custom-btn btn">تسجيل الدخول</a>
      </ul>
    </div>
  </nav>
  <!-- end navbar -->
</div>

