<app-layout></app-layout>
<section class="rtl partners partners-top">
  <div class="container-fluid">
    <div class="top-section">
      <h3> شركائنا و عملائنا </h3>
      <img src="../../../assets/images/line.svg" />
    </div>
    <div class="row">
      <div class="partners-btn package-btn col-6">
        <button  class="btn active-btn" id="package-btn">شركائنا</button>
      </div>
      <div class="clients-btn pricing-btn col-6">
        <button  class="btn"  id="services-btn">عملائنا</button>
      </div>
    </div>
    <div class="clear-fix"></div>
    <div class="pricing bottom-partn">
          <div class="animated slideInDown col-12 top-div">
              <div class="row">
            <div class="single-sec col-md-3 col-sm-6">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <img src="../../../assets/images/logo1.svg" alt="">
              </button>
            </div>
            <div class="single-sec col-md-3 col-sm-6">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <img src="../../../assets/images/logo2.svg" alt="">
              </button>
            </div>
            <div class="single-sec col-md-3 col-sm-6">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <img src="../../../assets/images/logo3.svg" alt="">
              </button>
            </div>
            <div class="single-sec col-md-3 col-sm-6">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <img src="../../../assets/images/logo4.svg" alt="">
              </button>
            </div>
          </div>
          </div>
          <div class="animated slideInUp  col-12 bottom-div">
              <div class="row">
            <div class="single-sec col-md-3 col-sm-6">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <img src="../../../assets/images/logo5.svg" alt="">
              </button>
            </div>
            <div class="single-sec col-md-3 col-sm-6">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <img src="../../../assets/images/logo6.svg" alt="">
              </button>
            </div>
            <div class="single-sec col-md-3 col-sm-6">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <img src="../../../assets/images/logo7.svg" alt="">
              </button>
            </div>
            <div class="single-sec col-md-3 col-sm-6">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <img src="../../../assets/images/logo8.svg" alt="">
              </button>
            </div>
          </div>
      </div>
    </div>
    <div class="package bottom-partn">
        <div class="animated slideInDown col-12 top-div">
            <div class="row">
          <div class="single-sec col-md-3 col-sm-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/logo1.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/logo2.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/logo3.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/logo4.svg" alt="">
          </button>
        </div>
        </div>
        </div>
        <div class="animated slideInUp col-12 bottom-div">
            <div class="row">
          <div class="single-sec col-md-3 col-sm-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/logo5.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/logo6.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/logo7.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/logo8.svg" alt="">
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="rtl modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="right-image col-sm-2">
            <img src="../../../assets/images/logo-popup.svg" alt="">
          </div>
          <div class="col-sm-10">
            <p>من به، تعديل البولندي. أوزار الشرق، لمّ هو, أن مكن وصغار الشمال. بشرية النفط في فعل, ٣٠ نفس كردة الخطّة
              الشّعبين, وجزر جديدة بتحدّي هذا أن. عن ليرتفع الجنرال انه.
              لمّ بفرض كرسي الغالي ما. أمّا واستمر أم ذلك, ثم دار قدما أمّا الأسيوي, كان مدينة باستحداث كل. بلا تنفّس
              فهرست أن, في وبعد رجوعهم جديداً فقد. فعل الله يعبأ مع, حدى قررت النزاع ما, دون الذود التبرعات إذ. تم ضرب
              غريمه أسابيع موالية, وفي بل سياسة معارضة.
            </p>
          </div>
        </div>
        <h3>أعمالنا</h3>
        <img src="../../../assets/images/line.svg" alt="" class="line">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div class="image-sec">
              <div class="img-separate">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <div class="overlay"></div>
              </div>
              <a href="#" class="btn visit-btn"> زيارة الموقع </a>
              <a href="#" class="btn details-btn custom-btn"> مشاهدة التفاصيل </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="image-sec">
              <div class="img-separate">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <div class="overlay"></div>
              </div>
              <a href="#" class="btn visit-btn"> زيارة الموقع </a>
              <a href="#" class="btn details-btn custom-btn"> مشاهدة التفاصيل </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>