<app-layout></app-layout>
<div class="profile-bg">
  <form action="/file-upload" class="dropzone">
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
  </form>
  <p>أحمد محمد محمود</p>
  <p>ahmed@yahoo.com</p>
</div>
<div class="rtl links-profile">
  <div class="row">
    <div class="profile-btn col-md-6 col-sm-12">
      <a href="/profile" class="btn">معلومات الحساب</a>
    </div>
    <div class="info-btn col-md-6 col-sm-12">
      <a href="/project-info" class="btn">معلومات المشروع</a>
    </div>
  </div>
</div>
<div class="rtl bottom-data">
  <div class="container-fluid">
    <div class="top-text">
      <img src="../../../assets/images/project-info.svg" alt="">
      <h3>ان أسر بينما الساحلية ويكيبيديا, </h3>
      <p>العسكري وبولندا التّحول حول, تحت وصغار الأول عل. هو وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك
        من.</p>
    </div>
    <div class="personal-info">
      <h4>معلومات المشروع</h4>
      <img src="../../../assets/images/line.svg" alt="" class="line">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder=" اسم الموقع  ">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="الدومين">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select class="form-control col-sm-12">
            <option>نوع الخدمة</option>
            <option>1</option>
            <option>1</option>
            <option>1</option>
          </select>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="الدومين">
        </div>
      </div>
      <h3>معلومات المشروع</h3>
      <div class="col-sm-12 upload-btn-wrapper">
          <i class="fas fa-paperclip"></i>
          <button class="btn">ارفاق ملف</button>
          <input type="file" name="myfile" />
          <span> العسكري وبولندا التّحول حول, تحت وصغار الأول عل. هو وعُرفت اكتوبر الوراء 
            </span>
      </div>
      <button class="btn custom-btn">حفظ التعديلات</button>
    </div>
  </div>
</div>
<app-footer></app-footer>