  <app-layout></app-layout>
  <!-- start slider -->
  <div class="container-fluid">
    <section class="slider">
      <div id="lightSlider" class="rtl cs-hidden">
        <li>
          <div class="row">
            <div class="col-md-6 text">
              <h2>هو أسر لإعادة الأهداف<br/> من وصغار</h2>
              <img src="../assets/images/line.svg" alt="">
              <p>هو أسر لإعادة الأهداف, من وصغار يتسنّى تشيكوسلوفاكيا لان. به، وزارة قائمة ثم. جدول يرتبط لتقليعة بل
                بعض, كان مواقعها الإتفاقية تم. اللا بالمطالبة ان عدد, مع حول أهّل الحدود.</p>
            </div>
            <img src="../assets/images/big-image.svg" class="col-md-6" />
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-6 text">
              <h2>هو أسر لإعادة الأهداف <br/>من وصغار</h2>
              <img src="../assets/images/line.svg" alt="">
              <p>هو أسر لإعادة الأهداف, من وصغار يتسنّى تشيكوسلوفاكيا لان. به، وزارة قائمة ثم. جدول يرتبط لتقليعة بل
                بعض, كان مواقعها الإتفاقية تم. اللا بالمطالبة ان عدد, مع حول أهّل الحدود.</p>
            </div>
            <img src="../assets/images/big-image.svg" class="col-md-6" />
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-6 text">
              <h2>هو أسر لإعادة الأهداف <br/>من وصغار</h2>
              <img src="../assets/images/line.svg" alt="">
              <p>هو أسر لإعادة الأهداف, من وصغار يتسنّى تشيكوسلوفاكيا لان. به، وزارة قائمة ثم. جدول يرتبط لتقليعة بل
                بعض, كان مواقعها الإتفاقية تم. اللا بالمطالبة ان عدد, مع حول أهّل الحدود.</p>
            </div>
            <img src="../assets/images/big-image.svg" class="col-md-6" />
          </div>
        </li>
      </div>
    </section>
  </div>
  <!-- end slider -->
  <!-- start service section -->
  <div class="container-fluid">
    <section class="rtl services">
      <div class="top-section">
        <h3>هو أسر لإعادة الأهداف, من وصغار يتسنّى</h3>
        <img src="../../../assets/images/line.svg" alt="">
      </div>
      <div class="row">
        <div class="single-service col-md-3 col-sm-12">
          <img src="../../../assets/images/pen.png" alt="pen-service">
          <p>تصميم تجربة و واجهة <br/>المستخدم</p>
          <button type="button" class="btn"> <a href="/services"><i class="fa fa-angle-left"></i></a> </button>
        </div>
        <div class="col-md-1"></div>
        <div class="single-service col-md-3 col-sm-12">
          <img src="../../../assets/images/computer.svg" alt="computer-service">
          <p>تصميم و تطوير المواقع<br/> الإلكترونية</p>
          <button  type="button"  class="btn"> <a href="/services"><i class="fa fa-angle-left"></i></a> </button>
        </div>
        <div class="col-md-1"></div>
        <div class="single-service col-md-3 col-sm-12">
          <img src="../../../assets/images/smart.svg" alt="smart-service">
          <p>تصميم وتطوير التطبيقات الهواتف <br/> الذكية</p>
          <button  type="button" class="btn"> <a href="/services"><i class="fa fa-angle-left"></i></a> </button>
        </div>
      </div>
    </section>
  </div>
  <!-- end service section -->
  <!-- start video section -->
  <section class="rtl video">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-sm-12 right-img">
              <button type="button" class="video-btn btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  <img src="../../../assets/images/videohome.svg" alt="video-img">
              </button>
          </div>
          <div class="col-lg-6 col-sm-12 left-sec">
            <h2>هو أسر لإعادة الأهداف من <br/>وصغار يتسنّى</h2>
            <img src="../assets/images/line.svg" alt="">
            <p>
                <i class="fa fa-check"></i>
                وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك 
            </p>
            <p>
                <i class="fa fa-check"></i>
                وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك 
            </p>
            <p>
                <i class="fa fa-check"></i>
                وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك 
            </p>
            <p>
                <i class="fa fa-check"></i>
                وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك 
            </p>
            <p>
                <i class="fa fa-check"></i>
                وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك 
            </p>
            <p>
                <i class="fa fa-check"></i>
                وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك 
            </p>
            <a href="/contact" class="btn custom-btn">ابدأ الآن</a>
            <button type="button" class="video-btn2 video-btn btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <img src="../../../assets/images/video.svg" alt="">
              </button>
          </div>
        </div>
    </div>
  </section>
  <!-- end video section -->
  <!-- start our client section -->
  <section class="our-client">
      <div class="container-fluid">
        <div class="opnions">
            <h3>أراء عملائنا</h3>
            <img src="../assets/images/line.svg" alt="" class="line-image">
        </div>
          <div id="ourclient" class="rtl cs-hidden">
              <li>
                <div class="row">
                  <div class="col-sm-12 text">
                    <p>هو أسر لإعادة الأهداف, من وصغار يتسنّى تشيكوسلوفاكيا لان. به، وزارة قائمة ثم. جدول يرتبط لتقليعة بل
                      بعض, كان مواقعها الإتفاقية تم. اللا بالمطالبة ان عدد, مع حول أهّل الحدود.</p>
                      <span><q>محمد احمد</q></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-sm-12 text">
                    <p>هو أسر لإعادة الأهداف, من وصغار يتسنّى تشيكوسلوفاكيا لان. به، وزارة قائمة ثم. جدول يرتبط لتقليعة بل
                      بعض, كان مواقعها الإتفاقية تم. اللا بالمطالبة ان عدد, مع حول أهّل الحدود.</p>
                      <span><q>محمد احمد</q></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-sm-12 text">
                    <p>هو أسر لإعادة الأهداف, من وصغار يتسنّى تشيكوسلوفاكيا لان. به، وزارة قائمة ثم. جدول يرتبط لتقليعة بل
                      بعض, كان مواقعها الإتفاقية تم. اللا بالمطالبة ان عدد, مع حول أهّل الحدود.</p>
                      <span><q>محمد احمد</q></span>
                  </div>
                </div>
              </li>
            </div>
      </div>
  </section>
  <!-- end our client section -->
  <!-- start partners section -->
  <section class="rtl partners">
      <div class="container-fluid">
    <h3>شركائنا</h3>
    <img src="../assets/images/line.svg" alt="">
    <div class="row">
      <div class="col-md-3 col-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/partner1.jpg" alt="">
          </button>
      </div>
      <div class="col-md-3 col-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/partner2.jpg" alt="">
          </button>
      </div>
      <div class="col-md-3 col-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/partner3.jpg" alt="">
          </button>
      </div>
      <div class="col-md-3 col-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/partner4.jpg" alt="">
          </button>
      </div>
      <div class="col-md-3 col-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/partner1.jpg" alt="">
          </button>
      </div>
      <div class="col-md-3 col-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/partner2.jpg" alt="">
          </button>
      </div>
      <div class="col-md-3 col-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/partner3.jpg" alt="">
          </button>
      </div>
      <div class="col-md-3 col-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <img src="../../../assets/images/partner4.jpg" alt="">
          </button>
      </div>
    </div>
  </div>
</section>
  <!-- end partners section -->
  <!-- start ready section-->
  <section class="rtl ready">
    <h3>هو أسر لإعادة الأهداف, من وصغار يتسنّى 
        تشيكوسلوفاكيا لان. به، وزارة قائمة ثم. جدول 
    </h3>
    <a href="/contact" class="btn custom-btn">ابدأ الآن</a>
  </section>
  <!-- end ready section-->
  <!-- Modal -->
  <div class="rtl modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="right-image col-sm-2">
            <img src="../../../assets/images/logo-popup.svg" alt="">
          </div>
          <div class="col-sm-10">
            <p>من به، تعديل البولندي. أوزار الشرق، لمّ هو, أن مكن وصغار الشمال. بشرية النفط في فعل, ٣٠ نفس كردة الخطّة
              الشّعبين, وجزر جديدة بتحدّي هذا أن. عن ليرتفع الجنرال انه.
              لمّ بفرض كرسي الغالي ما. أمّا واستمر أم ذلك, ثم دار قدما أمّا الأسيوي, كان مدينة باستحداث كل. بلا تنفّس
              فهرست أن, في وبعد رجوعهم جديداً فقد. فعل الله يعبأ مع, حدى قررت النزاع ما, دون الذود التبرعات إذ. تم ضرب
              غريمه أسابيع موالية, وفي بل سياسة معارضة.
            </p>
          </div>
        </div>
        <h3>أعمالنا</h3>
        <img src="../../../assets/images/line.svg" alt="" class="line">
        <div class="row">
          <div class="col-sm-12">
            <div class="image-sec">
              <div class="img-separate">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <div class="overlay"></div>
              </div>
              <a href="#" class="btn visit-btn"> زيارة الموقع </a>
              <a href="#" class="btn details-btn custom-btn"> مشاهدة التفاصيل </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>