<app-layout></app-layout>
<div class="rtl projects">
    <div class="container-fluid">
        <div class="image-container row">
            <div class="double-image col-md-4 col-sm-12">
                <a href="/project-details">
                    <div class="image">
                        <img src="../../../assets/images/gallery.jpg" alt="">
                        <div class="overlay"></div>
                        <button class="btn details-btn">مشاهدة التفاصيل</button>
                    </div>
                </a>
                <br/>
                <a href="/project-details">
                    <div  class="image">
                        <img src="../../../assets/images/gallery.jpg" alt="">
                        <button class="btn details-btn">مشاهدة التفاصيل</button>
                        <div class="overlay"></div>
                    </div>
                </a>
            </div>
                <div class="single-image col-md-8 col-sm-12">
                    <a href="/project-details">
                    <div  class="image">
                        <img src="../../../assets/images/gallery.jpg" alt="">
                        <button class="btn details-btn">مشاهدة التفاصيل</button>
                        <div class="overlay"></div>
                    </div>
                  </a>
                </div>
        </div>
        <div class="image-container row">
                <div class="equal-image col-md-6 col-sm-12">
                    <a href="/project-details">
                    <div>
                        <img src="../../../assets/images/gallery.jpg" alt="">
                        <button class="btn details-btn">مشاهدة التفاصيل</button>
                        <div class="overlay"></div>
                    </div>
                  </a>
                </div>
             <div class="equal-image col-md-6 col-sm-12">
                <a href="/project-details">  
                <div>
                    <img src="../../../assets/images/gallery.jpg" alt="">
                    <button class="btn details-btn">مشاهدة التفاصيل</button>
                    <div class="overlay"></div>
                </div>
              </a>
              </div>
        </div>
        <div class="image-container row">
                <div class="double-image col-md-4 col-sm-12">
                    <a href="/project-details">
                        <div class="image">
                            <img src="../../../assets/images/gallery.jpg" alt="">
                            <div class="overlay"></div>
                            <button class="btn details-btn">مشاهدة التفاصيل</button>
                        </div>
                    </a>
                    <br/>
                    <a href="/project-details">
                        <div  class="image">
                            <img src="../../../assets/images/gallery.jpg" alt="">
                            <button class="btn details-btn">مشاهدة التفاصيل</button>
                            <div class="overlay"></div>
                        </div>
                    </a>
                </div>
                    <div class="single-image col-md-8 col-sm-12">
                        <a href="/project-details">
                        <div  class="image">
                            <img src="../../../assets/images/gallery.jpg" alt="">
                            <button class="btn details-btn">مشاهدة التفاصيل</button>
                            <div class="overlay"></div>
                        </div>
                      </a>
                    </div>
            </div>
        <div class="clearfix"></div>
    </div>
</div>
<app-footer></app-footer>