<app-layout></app-layout>
<div class="container-fluid">
    <h3 class="top-heading">أسعار الخدمات و الباقات</h3>
    <p class="top-par">اذا كنت ترغب في الإشتراك في أحد الباقات او الخدمات يمكنك التواصل معنا من خلال <a href="/contact">الضغط هنا</a></p>
    <img src="../../../assets/images/line.svg" class="line-image"/>
    <div class="buttons">
    <div class="row">
        <div class="package-btn">
            <button class="btn" id="package-btn">الباقات</button>
        </div>
          <div class="pricing-btn">
              <button class="active-btn btn" id="services-btn">الخدمات</button>
          </div>
      </div>
    </div>
</div>
<section class="rtl pricing">
  <div class="container-fluid">
    <div class="animated fadeIn  cards">
          <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card"  style="width: 21rem;">
                    <div class="single-card">
                        <h4>تصميم تجربة و واجهة <br/>المستخدم</h4>
                        <img src="../../../assets/images/uix.svg" alt="" class="light-services-image">
                        <img src="../../../assets/images/uix-dark.png" alt="" class="dark-services-image">
                        <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                        <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                        <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                        <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card"  style="width: 21rem;">
                    <div class="single-card">
                      <h4>تصميم و تطوير المواقع <br/>الإلكترونية</h4>
                      <img src="../../../assets/images/web1.svg" alt="" class="light-services-image">
                      <img src="../../../assets/images/web-dark.png" alt="" class="dark-services-image">
                      <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                      <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                      <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                      <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card"  style="width: 21rem;">
                    <div class="single-card">
                      <h4> تطوير تطبيقات الهواتف <br/>الذكية </h4>
                      <img src="../../../assets/images/mob.svg" alt="" class="light-services-image">
                      <img src="../../../assets/images/mob-dark.png" alt="" class="dark-services-image">
                      <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                      <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                      <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                      <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                    </div>
                  </div>
            </div>
          </div>
    </div>
  </div>
</section>
<section class="rtl package">
    <div class="container-fluid">
      <div class="animated fadeIn cards">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                  <div class="card"  style="width: 21rem;">
                <div class="single-card">
                    <h4>تصميم تجربة و واجهة <br/>المستخدم</h4>
                    <img src="../../../assets/images/uix.svg" alt="">
                    <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                    <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                    <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                    <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                  <div class="card"  style="width: 21rem;">
                <div class="single-card">
                  <h4> تصميم و تطوير المواقع <br/>الإلكترونية </h4>
                  <img src="../../../assets/images/web1.svg" alt="">
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                  <div class="card"  style="width: 21rem;">
                <div class="single-card">
                  <h4> تطوير تطبيقات الهواتف <br/>الذكية </h4>
                  <img src="../../../assets/images/mob.svg" alt="">
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>