<app-layout></app-layout>
<section class="rtl package">
    <div class="container-fluid">
      <h3>أسعار الخدمات و الباقات</h3>
      <img src="../../../assets/images/line.svg"/>
      <div class="row">
        <div class="pricing-btn col-sm-6">
            <a href="/pricing" class="btn">الخدمات</a>
        </div>
        <div class="package-btn col-sm-6">
            <a href="/package" class="btn custom-btn">الباقات</a>
        </div>
      </div>
      <div class="cards">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="single-card">
                    <h4>تصميم تجربة و واجهة المستخدم</h4>
                    <img src="../../../assets/images/uix.svg" alt="">
                    <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                    <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                    <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                    <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="single-card">
                  <h4> تصميم و تطوير المواقع الإلكترونية </h4>
                  <img src="../../../assets/images/web1.svg" alt="">
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="single-card">
                  <h4> تطوير تطبيقات الهواتف الذكية </h4>
                  <img src="../../../assets/images/mob.svg" alt="">
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                  <p><i class="fa fa-check"></i>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة</p>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>