<app-layout></app-layout>
<div class="rtl project-details">
  <div class="top-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h3>هو أسر لإعادة الأهداف من وصغار</h3>
          <img src="../../../assets/images/line-white-big.svg" alt="">
          <p>هو أسر لإعادة الأهداف, من وصغار يتسنّى تشيكوسلوفاكيا لان. به، وزارة قائمة ثم. جدول يرتبط لتقليعة بل بعض,
            كان مواقعها الإتفاقية تم. اللا بالمطالبة ان عدد, مع حول أهّل الحدود.
          </p>
          <a href="#" class="btn visit-btn"> زيارة الموقع </a>
        </div>
        <div class="col-md-8">
            <img class="img-project" src="../../../assets/images/project.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="middle-section">
    <div class="row">
      <div class="container-fluid">
        <h3>هو أسر لإعادة الأهداف, من وصغار يتسنّى</h3>
        <img src="../../../assets/images/line.svg" alt="">
        <p>من به، تعديل البولندي. أوزار الشرق، لمّ هو, أن مكن وصغار الشمال. بشرية النفط في فعل, ٣٠ نفس كردة الخطّة
          الشّعبين, وجزر جديدة بتحدّي هذا أن. عن ليرتفع الجنرال انه.
          لمّ بفرض كرسي الغالي ما. أمّا واستمر أم ذلك, ثم دار قدما أمّا الأسيوي, كان مدينة باستحداث كل. بلا تنفّس فهرست
          أن, في وبعد رجوعهم جديداً فقد. فعل الله يعبأ مع, حدى قررت النزاع ما, دون الذود التبرعات إذ. تم ضرب غريمه
          أسابيع موالية, وفي بل سياسة معارضة.
        </p>

      </div>
    </div>
  </div>
  <div class="tech-tools">
    <div class="container-fluid">
      <h3>هو أسر لإعادة الأهداف, من وصغار يتسنّى</h3>
      <img src="../../../assets/images/line.svg" alt="">
      <div class="row">
        <div class="tech-single col-md-4 col-sm-12">
          <img src="../../../assets/images/mob.svg" />
          <p>تصميم تجربة و واجهة <br/>المستخدم</p>
        </div>
        <div class="tech-single col-md-4 col-sm-12">
          <img src="../../../assets/images/mob.svg" />
          <p>تصميم تجربة و واجهة <br/> المستخدم</p>
        </div>
        <div class="tech-single col-md-4 col-sm-12">
          <img src="../../../assets/images/mob.svg" />
          <p>تصميم تجربة و واجهة  <br/>المستخدم</p>
        </div>
      </div>
    </div>
  </div>
  <div class="search-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="right-sec col-md-6 col-sm-12">
          <img src="../../../assets/images/search.svg" alt="">
        </div>
        <div class="left-sec col-md-6 col-sm-12">
          <h3>
            هو أسر لإعادة الأهداف
            من وصغار يتسنّى
          </h3>
          <img src="../../../assets/images/line-white-big.svg" alt="">
          <p>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة في مدن. إيو إذ العسكري وبولندا التّحول حول, تحت وصغار الأول
            عل. هو
            وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك
            قد عدم المؤلّفة الشّعبين. هو بالرغم الساحل وقد, ان منتصف من الى وإيطالي الجنرال, بعد بل غينيا الدّفاع. بسبب
            تلك لإعادة اسبوعين وباستثناء ثم. مكن كُلفة الأسيوي الأمريكي </p>
        </div>
      </div>
    </div>
  </div>
  <div class="laptop-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="right-sec col-md-6 col-sm-12">
          <h3>
            هو أسر لإعادة الأهداف
            من وصغار يتسنّى
          </h3>
          <img src="../../../assets/images/line.svg" alt="">
          <p>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة في مدن. إيو إذ العسكري وبولندا التّحول حول, تحت وصغار الأول
            عل. هو
            وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك
            قد عدم المؤلّفة الشّعبين. هو بالرغم الساحل وقد, ان منتصف من الى وإيطالي الجنرال, بعد بل غينيا الدّفاع. بسبب
            تلك لإعادة اسبوعين وباستثناء ثم. مكن كُلفة الأسيوي الأمريكي </p>
        </div>
        <div class="left-sec col-md-6 col-sm-12">
          <img src="../../../assets/images/laptop.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- start ready section-->
  <section class="rtl ready">
    <h3>هو أسر لإعادة الأهداف, من وصغار يتسنّى
      تشيكوسلوفاكيا لان. به، وزارة قائمة ثم. جدول
    </h3>
    <a href="#" class="btn custom-btn">ابدأ الآن</a>
  </section>
  <!-- end ready section-->
</div>
<app-footer></app-footer>