<app-layout></app-layout>
<div class="profile-bg">
  <form action="/file-upload" class="dropzone">
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
  </form>
  <p>أحمد محمد محمود</p>
  <p>ahmed@yahoo.com</p>
</div>
<div class="rtl links-profile">
  <div class="row">
    <div class="profile-btn col-6">
      <button class="btn">معلومات الحساب</button>
    </div>
    <div class="info-btn col-6">
      <button class="btn">معلومات المشروع</button>
    </div>
  </div>
</div>
<div class="rtl bottom-data personal-info-sec">
  <div class="container-fluid">
    <div class="personal-info">
      <h4>المعلومات الشخصية</h4>
      <img src="../../../assets/images/line.svg" alt="" class="line">
      <div class="row">
        <div class="col-md-6 col-12">
          <input type="text" class="form-control" placeholder="احمد محمد ">
        </div>
        <div class="col-md-6 col-12">
          <input type="text" class="form-control" placeholder="ahmed_mohammed@yahoo.com">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <input type="text" class="form-control" placeholder="+966 5074258942">
        </div>
        <div class="col-md-6 col-12">
          <div class="row">
            <div class="col">
              <select class="form-control col-sm-12">
                <option>الدولة</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
              </select>
            </div>
            <div class="col-md-6 col-12">
              <select class="form-control col-sm-12">
                <option>المحافظة</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="company-info">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <i class="fa fa-minus-circle" aria-hidden="true"></i>
      <h4 data-toggle="collapse" href="#collapseExample">معلومات الشركة </h4>
      <img src="../../../assets/images/line.svg" alt=""  class="line">
      <div class="collapse row" id="collapseExample">
        <div class="col-md-6 col-12">
          <input type="text" class="form-control" placeholder=" إسم الشركة ">
        </div>
        <div class="col-md-6 col-12">
          <input type="text" class="form-control" placeholder="عدد الموظفين">
        </div>
      </div>
    </div>
    <div class="change-passowrd">
      <h4> كلمة المرور </h4>
      <img src="../../../assets/images/line.svg" alt="" class="line">
      <div class="row">
        <p class="col-6">تغيير كلمة المرور</p>
        <div class="col-6 ">
          <button type="button" class="custom-btn btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            تغيير
          </button>
        </div>
      </div>
    </div>
    <div class="social-info">
      <h4>منصات التواصل الإجتماعي</h4>
      <img src="../../../assets/images/line.svg" alt="" class="line">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="../../../assets/images/facebook.svg" alt="" class="col-sm-2">
          <input type="text" class="form-control" placeholder="احمد محمد " class="col-sm-10">
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="../../../assets/images/Twitter.svg" alt="" class="col-sm-2">
          <input type="text" class="form-control" placeholder="احمد محمد " class="col-sm-10">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="../../../assets/images/logo-linkedin.svg" alt="" class="col-sm-2">
          <input type="text" class="form-control" placeholder="احمد محمد " class="col-sm-10">
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="../../../assets/images/instagram.svg" alt="" class="col-sm-2">
          <input type="text" class="form-control" placeholder="احمد محمد " class="col-sm-10">
        </div>
      </div>
    </div>
    <div class="add-email">
        <button class="btn add-social-btn" data-toggle="modal" data-target="#exampleModa2"><i class="fa fa-plus"></i> إضافة وسيلة تواصل</button>
    </div>
    <button class="btn custom-btn">حفظ التعديلات</button>
  </div>
</div>
<div class="rtl bottom-data project-info-sec">
    <div class="container-fluid">
      <div class="top-text">
        <img src="../../../assets/images/project-info.svg" alt="">
        <h3>ان أسر بينما الساحلية ويكيبيديا, </h3>
        <p>العسكري وبولندا التّحول حول, تحت وصغار الأول عل. هو وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك
          من.</p>
      </div>
      <div class="personal-info">
        <h4>معلومات المشروع</h4>
        <img src="../../../assets/images/line.svg" alt="" class="line">
        <div class="row">
          <div class="col-md-6 col-12">
            <input type="text" class="form-control" placeholder=" اسم الموقع  ">
          </div>
          <div class="col-md-6 col-12">
            <input type="text" class="form-control" placeholder="الدومين">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <select class="form-control col-sm-12">
              <option>نوع الخدمة</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
            </select>
          </div>
          <div class="col-md-6 col-12">
            <input type="text" class="form-control" placeholder="الدومين">
          </div>
        </div>
        <h3>ملفات المشروع</h3>
        <div class="col-sm-12 upload-btn-wrapper">
            <i class="fas fa-paperclip"></i>
            <button class="btn">ارفاق ملف</button>
            <input type="file" name="myfile" />
            <span> العسكري وبولندا التّحول حول, تحت وصغار الأول عل. هو وعُرفت اكتوبر الوراء 
              </span>
        </div>
        <button class="btn custom-btn">حفظ التعديلات</button>
      </div>
    </div>
  </div>
<div class="rtl modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="personal-info">
          <h4>تغييير كلمة المرور</h4>
          <img src="../../../assets/images/line.svg" alt="" class="line">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control" placeholder="كلمة المرور القديمة">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control" placeholder="كلمة المرور الجديدة">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control" placeholder=" تأكيد كلمة المرور الجديدة ">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="custom-btn btn btn-secondary" data-dismiss="modal">حفظ التعديلات</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<div class="rtl modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="exampleModa2" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">إضافة وسيلة تواصل</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <div class="modal-body">
          <div class="row">
              <div class="single-collapse col-md-4 col-6">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                      <div class="image-section">
                          <img src="../../../assets/images/instagram.svg" alt="">
                          <span class="title-social">facebook</span>
                      </div>
                  </button>
                  <div class="collapse" id="collapseExample1">
                      <div class="card card-body">
                          <input type="text" class="form-control" placeholder="برجاء إدخال الرابط"/>
                      </div>
                  </div>
              </div>
              <div class="single-collapse col-md-4 col-6">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                      <div class="image-section">
                          <img src="../../../assets/images/instagram.svg" alt="">
                          <span class="title-social">facebook</span>
                      </div>
                  </button>
                  <div class="collapse" id="collapseExample2">
                      <div class="card card-body">
                          <input type="text" class="form-control" placeholder="برجاء إدخال الرابط"/>
                      </div>
                  </div>
              </div>
              <div class="single-collapse col-md-4 col-6">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                      <div class="image-section">
                          <img src="../../../assets/images/instagram.svg" alt="">
                          <span class="title-social">facebook</span>
                      </div>
                  </button>
                  <div class="collapse" id="collapseExample3">
                      <div class="card card-body">
                          <input type="text" class="form-control" placeholder="برجاء إدخال الرابط"/>
                      </div>
                  </div>
              </div>
              <div class="single-collapse col-md-4 col-6">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                      <div class="image-section">
                          <img src="../../../assets/images/instagram.svg" alt="">
                          <span class="title-social">facebook</span>
                      </div>
                  </button>
                  <div class="collapse" id="collapseExample4">
                      <div class="card card-body">
                          <input type="text" class="form-control" placeholder="برجاء إدخال الرابط"/>
                      </div>
                  </div>
              </div>
              <div class="single-collapse col-md-4 col-6">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                      <div class="image-section">
                          <img src="../../../assets/images/instagram.svg" alt="">
                          <span class="title-social">facebook</span>
                      </div>
                  </button>
                  <div class="collapse" id="collapseExample5">
                      <div class="card card-body">
                          <input type="text" class="form-control" placeholder="برجاء إدخال الرابط"/>
                      </div>
                  </div>
              </div>
              <div class="single-collapse col-md-4 col-6">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                      <div class="image-section">
                          <img src="../../../assets/images/instagram.svg" alt="">
                          <span class="title-social">facebook</span>
                      </div>
                  </button>
                  <div class="collapse" id="collapseExample6">
                      <div class="card card-body">
                          <input type="text" class="form-control" placeholder="برجاء إدخال الرابط"/>
                      </div>
                  </div>
              </div>
              <div class="single-collapse col-md-4 col-6">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
                      <div class="image-section">
                          <img src="../../../assets/images/instagram.svg" alt="">
                          <span class="title-social">facebook</span>
                      </div>
                  </button>
                  <div class="collapse" id="collapseExample7">
                      <div class="card card-body">
                          <input type="text" class="form-control" placeholder="برجاء إدخال الرابط"/>
                      </div>
                  </div>
              </div>
              <div class="single-collapse col-md-4 col-6">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample">
                      <div class="image-section">
                          <img src="../../../assets/images/instagram.svg" alt="">
                          <span class="title-social">facebook</span>
                      </div>
                  </button>
                  <div class="collapse" id="collapseExample8">
                      <div class="card card-body">
                          <input type="text" class="form-control" placeholder="برجاء إدخال الرابط"/>
                      </div>
                  </div>
              </div>
              <div class="single-collapse col-md-4 col-6">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample">
                      <div class="image-section">
                          <img src="../../../assets/images/instagram.svg" alt="">
                          <span class="title-social">facebook</span>
                      </div>
                  </button>
                  <div class="collapse" id="collapseExample9">
                      <div class="card card-body">
                          <input type="text" class="form-control" placeholder="برجاء إدخال الرابط"/>
                      </div>
                  </div>
              </div>
          </div>
              <button type="button" class="custom-btn btn btn-secondary" data-dismiss="modal">حفظ </button>
            </div>
      </div>
    </div>
  </div>