<app-layout></app-layout>
<!-- start service section -->
<div class="container-fluid">
  <section class="rtl services">
    <div class="top-section">
      <h3>هو أسر لإعادة الأهداف, من وصغار يتسنّى</h3>
      <img src="../../../assets/images/line.svg" alt="line">
    </div>
    <div class="row">
      <div class="single-service col-md-4 col-sm-12">
        <img src="../../../assets/images/pen.png" alt="pen-service">
        <p>تصميم تجربة و واجهة المستخدم</p>
        <button class="btn ux-btn"><i class="fa fa-angle-down"></i></button>
      </div>
      <div class="single-service col-md-4 col-sm-12">
        <img src="../../../assets/images/computer.svg" alt="computer-service">
        <p>تصميم و تطوير المواقع الإلكترونية</p>
        <button class="btn web-btn"><i class="fa fa-angle-down"></i></button>
      </div>
      <div class="single-service col-md-4 col-sm-12">
        <img src="../../../assets/images/smart.svg" alt="smart-service">
        <p>تطوير تطبيقات الهواتف الذكية</p>
        <button class="btn app-btn"><i class="fa fa-angle-down"></i></button>
      </div>
    </div>
  </section>
</div>
<!-- end service section -->
<section class="rtl ui-service">
  <div class="ux-section web-service">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-12 right-sec">
          <h3>تصميم تجربة و واجهة<br /> المستخدم</h3>
          <img src="../../../assets/images/line.svg" alt="line">
          <p>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة في مدن. إيو إذ العسكري وبولندا التّحول حول, تحت وصغار الأول
            عل. هو
            وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك </p>
          <h4>هو أسر لإعادة الأهداف</h4>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <h4>هو أسر لإعادة الأهداف</h4>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
            <button type="button" class="in-active-xd tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="adobe-xd">
              <img src="../../../assets/images/adobe-xd.svg" />
            </button>
            <button type="button" class="active-img active-xd tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="adobe-xd">
              <img src="../../../assets/images/adobe-xd-active.svg" />
            </button>
            <button type="button" class="in-active-wireframe tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="wireframe">
              <img src="../../../assets/images/wireframe.svg" />
            </button>
            <button type="button" class="active-img active-wireframe tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="wireframe">
              <img src="../../../assets/images/wireframe-active.svg" />
            </button>
            <button type="button" class="in-active-prototype tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="prototype">
              <img src="../../../assets/images/prototype.svg" />
            </button>
            <button type="button" class="active-img active-prototype tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="prototype">
              <img src="../../../assets/images/prototype-active.svg" />
            </button>
        </div>
        <div class="col-md-6 col-sm-12 left-sec">
          <img src="../../../assets/images/ui.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- start web service -->
  <section class="web-develope rtl web-service">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-12 left-sec">
          <img src="../../../assets/images/web.svg" alt="">
        </div>
        <div class="col-md-6 col-sm-12 right-sec">
          <h3>تصميم و تطوير المواقع <br />الإلكترونية</h3>
          <img src="../../../assets/images/line.svg" alt="line">
          <p>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة في مدن. إيو إذ العسكري وبولندا التّحول حول, تحت وصغار الأول
            عل. هو
            وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك </p>
          <h4>هو أسر لإعادة الأهداف</h4>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <h4>هو أسر لإعادة الأهداف</h4>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
            <button type="button" class="in-active-html tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="html">
              <img src="../../../assets/images/html.svg" />
            </button>
            <button type="button" class="active-img active-html tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="html">
              <img src="../../../assets/images/html-active.svg" />
            </button>
            <button type="button" class="in-active-css tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="css">
              <img src="../../../assets/images/css.svg" />
            </button>
            <button type="button" class="active-img active-css tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="css">
              <img src="../../../assets/images/css-active.svg" />
            </button>
            <button type="button" class="in-active-js tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="js">
              <img src="../../../assets/images/js.svg" />
            </button>
            <button type="button" class="active-img active-js tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="js">
              <img src="../../../assets/images/js-active.svg" />
            </button>
            <button type="button" class="in-active-angular tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="angular">
              <img src="../../../assets/images/angular.svg" />
            </button>
            <button type="button" class="active-img active-angular tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="angular">
              <img src="../../../assets/images/angular-active.svg" />
            </button>
            <button type="button" class="in-active-php tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="php">
              <img src="../../../assets/images/php.svg" />
            </button>
            <button type="button" class="active-img active-php tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="php">
              <img src="../../../assets/images/php-active.svg" />
            </button>
            <button type="button" class="in-active-laravel tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="laravel">
              <img src="../../../assets/images/laravel.svg" />
            </button>
            <button type="button" class="active-img active-laravel tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="laravel">
              <img src="../../../assets/images/laravel-active.svg" />
            </button>
        </div>
      </div>
    </div>
  </section>
  <!-- end web service -->
  <!-- start web service -->
  <section class="app-develope rtl web-service">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-12 right-sec">
          <h3>تصميم وتطوير التطبيقات الهواتف <br /> الذكية</h3>
          <img src="../../../assets/images/line.svg" alt="line">
          <p>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة في مدن. إيو إذ العسكري وبولندا التّحول حول, تحت وصغار الأول
            عل. هو
            وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك </p>
          <h4>هو أسر لإعادة الأهداف</h4>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <h4>هو أسر لإعادة الأهداف</h4>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
            <button type="button" class="in-active-java tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="java">
              <img src="../../../assets/images/java.svg" />
            </button>
            <button type="button" class="active-img active-java tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="java">
              <img src="../../../assets/images/java-active.svg" />
            </button>
            <button type="button" class="in-active-kotline tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="kotline">
              <img src="../../../assets/images/kotline.svg" />
            </button>
            <button type="button" class="active-img active-kotline tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="kotline">
              <img src="../../../assets/images/kotline-active.svg" />
            </button>
            <button type="button" class="in-active-xml tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="xml">
              <img src="../../../assets/images/xml.svg" />
            </button>
            <button type="button" class="active-img active-xml tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="xml">
              <img src="../../../assets/images/xml-active.svg" />
            </button>
            <button type="button" class="in-active-firebase tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="firebase">
              <img src="../../../assets/images/firebase.svg" />
            </button>
            <button type="button" class="active-img active-firebase tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="firebase">
              <img src="../../../assets/images/firebase-active.svg" />
            </button>
            <button type="button" class="in-active-sqlite  tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="sqlite">
              <img src="../../../assets/images/sqlite.svg" />
            </button>
            <button type="button" class="active-img active-sqlite tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="sqlite">
              <img src="../../../assets/images/sqlite-active.svg" />
            </button>
            <button type="button" class="in-active-google-api tolltip btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="google api">
              <img src="../../../assets/images/google.svg" />
            </button>
            <button type="button" class="active-img active-google-api tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="google api">
              <img src="../../../assets/images/google-active.svg" />
            </button>
            <button type="button" class="in-active-rest tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="rest api">
              <img src="../../../assets/images/rest-api.svg" />
            </button>
            <button type="button" class="active-img active-rest tolltip btn btn-secondary" data-toggle="tooltip"
              data-placement="top" title="rest api">
              <img src="../../../assets/images/rest-api-active.svg" />
            </button>
        </div>
        <div class="col-md-6 col-sm-12 left-sec">
          <img src="../../../assets/images/mobile.svg" alt="">
        </div>
      </div>
    </div>
    <!-- end web service -->
  </section>
  <!-- start ready section-->
  <section class="rtl ready">
    <h3>هو أسر لإعادة الأهداف, من وصغار يتسنّى
      تشيكوسلوفاكيا لان. به، وزارة قائمة ثم. جدول
    </h3>
    <a href="#" class="btn custom-btn">ابدأ الآن</a>
  </section>
</section>
<!-- end ready section-->
<app-footer></app-footer>