<app-layout></app-layout>
<section class="rtl partners partners-top contact-us">
  <div class="container-fluid">
    <div class="top-section">
      <h3> اعلن معنا </h3>
      <img src="../../../assets/images/line.svg" />
    </div>
    <div class="rtl ux-section web-service">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12 right-sec">
            <h3>تصميم تجربة و واجهة<br /> المستخدم</h3>
            <img src="../../../assets/images/line.svg" alt="line">
            <p>ان أسر بينما الساحلية ويكيبيديا, ممثّلة بمباركة في مدن. إيو إذ العسكري وبولندا التّحول حول, تحت وصغار
              الأول
              عل. هو
              وعُرفت اكتوبر الوراء بها. يتبقّ وحلفاؤها واندونيسيا، ذلك </p>
            <h4>هو أسر لإعادة الأهداف</h4>
            <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
            <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
            <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
            <h4>هو أسر لإعادة الأهداف</h4>
            <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
            <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
            <p> <i class="fa fa-check"></i> وبولندا التّحول حول, تحت وصغار الأول</p>
          </div>
          <div class="col-md-6 col-sm-12 left-sec">
            <img src="../../../assets/images/adv.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="top-section">
      <h3> عملائنا </h3>
      <img src="../../../assets/images/line.svg" />
    </div>
    <div class="bottom-partn">
      <div class="row">
        <div class="single-sec col-md-3 col-sm-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <img src="../../../assets/images/logo1.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <img src="../../../assets/images/logo2.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <img src="../../../assets/images/logo3.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <img src="../../../assets/images/logo4.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <img src="../../../assets/images/logo5.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <img src="../../../assets/images/logo6.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <img src="../../../assets/images/logo7.svg" alt="">
          </button>
        </div>
        <div class="single-sec col-md-3 col-sm-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <img src="../../../assets/images/logo8.svg" alt="">
          </button>
        </div>
      </div>
    </div>
   </div>
     <!-- start form advertise -->
     <div class="form-section">
        <form>
            <h3>أعلن معنا الان</h3>
            <img src="../../../assets/images/line.svg" />
            <div class="form-group">
              <label>الاسم بالكامل</label>
              <input type="text" class="first-input form-control" placeholder="الاسم بالكامل">
            </div>
            <div class="form-group">
              <label>البريد الإلكتروني</label>
              <input type="text" class="first-input form-control" placeholder="البريد الإلكتروني">
            </div>
            <div class="form-group">
              <label> رقم الجوال </label>
              <input type="number" class="first-input form-control" placeholder=" رقم الجوال ">
            </div>
            <div class="form-group">
              <label> الرسالة  </label>
              <textarea  rows="4" placeholder="الرسالة"></textarea>
            </div>
            <button type="submit" class="btn custom-btn">
                إرسال
            </button>
          </form>
    </div>
        <!-- end form advertise -->
</section>
<app-footer></app-footer>